.navbar {
  transition: 699.99ms ease;
}
.navbar.scrolled {
  background: black;
}
.navbar-brand {
  color: rgb(255, 255, 255);
}
.nav-link {
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  color: #fed136;
  text-transform: uppercase;
}

.navbar-brand {
  color: rgb(180, 0, 0);
  font-size: 25px;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar-brand span {
  color: #fed136;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-brand:hover {
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-toggler {
  background: transparent;
  text-align: left;
  color: white;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background: #000; */
  background: url("/assets/image/tech.jpg");
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  /* animation: bgColor 20s linear infinite; */
}

section .container .btn{
  margin-top: 25px;
  border-color: white;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: white;
}

section .container .btn:hover{
  margin-top: 25px;
  border-color: white;
  border-radius: 20px;
  background-color: #cccccc;
  color: white;
}

.myTyper{
  margin-top: 200px;
 
}


ng-lottie{
  width: 600px;
  height: 600px;
  position: absolute;
  left: 30%;
  bottom: 4%;

}

.bgPulse {
  width: 100%;
  height: 100%;
}
.bgPulse span {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #fff;
}
.bgPulse span:nth-child(3n + 1) {
  background: transparent;
  border: 5px solid #fff;
}
.bgPulse span:nth-child(1) {
  top: 50%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(2) {
  top: 80%;
  left: 40%;
  animation: animate 12s linear infinite;
}
.bgPulse span:nth-child(3) {
  top: 10%;
  left: 65%;
  animation: animate 15s linear infinite;
}
.bgPulse span:nth-child(4) {
  top: 50%;
  left: 70%;
  animation: animate 6s linear infinite;
}
.bgPulse span:nth-child(5) {
  top: 10%;
  left: 30%;
  animation: animate 9s linear infinite;
}
.bgPulse span:nth-child(6) {
  top: 90%;
  left: 95%;
  animation: animate 8s linear infinite;
}
.bgPulse span:nth-child(7) {
  top: 80%;
  left: 5%;
  animation: animate 5s linear infinite;
}
.bgPulse span:nth-child(8) {
  top: 35%;
  left: 50%;
  animation: animate 14s linear infinite;
}
.bgPulse span:nth-child(9) {
  top: 5%;
  left: 5%;
  animation: animate 11s linear infinite;
}
.bgPulse span:nth-child(10) {
  top: 25%;
  left: 90%;
  animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(10) {
  top: 25%;
  left: 90%;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-100px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes bgColor {
  0% {
    background: #f44336;
  }
  25% {
    background: #03a9f4;
  }
  50% {
    background: #9c27b0;
  }
  75% {
    background: #00ff0a;
  }
  100% {
    background: #f44336;
  }
}

/* mobile view */
@media (max-width: 500px) {
  .navbar-nav {
    border-top: 3px solid #c20d76;
    color: rgb(0, 0, 0);
  }
  .navbar-nav .nav-item .nav-link {
    padding: 0.7em 1em !important;
    font-size: 100%;
    font-weight: 500;
  }

  .navbar-toggler {
    background: transparent;
    text-align: left;
    color: white;
  }

  section .container .btn{
    margin-top: 25px;
    border-color: white;
    border-radius: 20px;
    color: white;
  }

  .myTyper{
    margin-top: 250px;
  }

  ng-lottie{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 20%;
    bottom: 4%;
  
  }
}
