<!-- Navigation -->
<div class="body">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><span>Project</span>Code</a>
      <!-- <a href="#">Code</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        menu
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<section>
  <div class="row">
    <div class="col-md text-center">
      <h3 class="myTyper">
        <a
          href=""
          style="color: rgb(255, 255, 255);"
          class="typewrite"
          data-period="2000"
          data-type='["We provide creative solutions to turn your ideas into digitaly reality", "We are experts in web apps!!!", "Crafting digital agency experiences..."]'
        >
          <span class="wrap"></span>
        </a>
      </h3>
      <button
        type="button"
        class="btn"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        Let's get started
      </button>
    </div>
    <div class="col-md">
      <ng-lottie [options]="animationOptions"> </ng-lottie>
    </div>
  </div>

  <div class="bgPulse">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
