
          <div class="container">
            <div class="services">          
               <h1>Our Services</h1>
              <h2 class="section-title">Just what you need</h2>
              <hr class="lines">
              
            </div>
            <div class="row">
                <div class="col-md-3 serv text-center">
                    <span></span>
                    <div class="icon">
                      <i class="fa fa-desktop"></i>
                    </div>
                    <h3>Web Development</h3>
                    <p>Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</p>
                </div>
                <div class="col-md-3 serv text-center">
                    <span></span>
                  <div class="icon">
                    <i class="fa fa-tablet"></i>
                  </div>
                  <h3>Web Development</h3>
                  <p>Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</p>
              </div>
              <div class="col-md-3 serv text-center">
                  <span></span>
                <div class="icon">
                  <i class="fa fa-line-chart"></i>
                </div>
                <h3>Web Development</h3>
                <p>Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</p>
            </div>
            <div class="col-md-3 serv text-center">
                <span></span>
              <div class="icon">
                <i class="fa fa-paint-brush"></i>
              </div>
              <h3>Web Development</h3>
              <p>Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</p>
          </div>
            </div>
          </div>
