<div class="services">
  
      <div class="container">
        <div class="section-header">          
           <p class="section-subtitle wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Services</p>
          <h2 class="section-title wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Just what you need</h2>
          <hr class="lines wow zoomIn animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
          <p class="section-subtitle wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Web-Analysis, Strategies &amp; Functionality</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              <div class="icon">
                <i class="fa fa-desktop"></i>
              </div>
              <h4>Web-Analysis</h4>
              <p>Knowing where you are coming from is the key to your future success. Carefully analysing your status quo, your clients and your needs.</p>
                   </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
              <div class="icon">
                <i class="fa fa-line-chart"></i>
              </div>
              <h4>Strategies</h4>
              <p>We are creating a vision of what your ideal web presence has to offer. What do you want it to do for you? How do you want to be perceived? </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
              <div class="icon">
                <i class="fa fa-cogs"></i>
              </div>
              <h4>Functionality</h4>
              <p>Usability, positive customer experience, easy access to key information, an emotional impact and, most important, an infrastructure you can work with!</p>
                 </div>
          </div>
        </div>
      </div>
</div>
