<section>
  <ng-lottie [options]="animationOptions"> </ng-lottie>

  <div class="container">
    <h3 class="myTyper">
      <a
        href=""
        style="color: rgb(167, 167, 167);"
        class="typewrite"
        data-period="2000"
        data-type='["We provide creative solutions to turn your ideas into digitaly reality", "We are experts in web apps!!!", "Crafting digital agency experiences..."]'
      >
        <span class="wrap"></span>
      </a>
    </h3>

    <div>
      <button
        type="button"
        class="btn"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        Let's get started
      </button>
    </div>
  </div>

  <div class="bgPulse">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
